<div class="section section--intro">
  <div class="wrap">
    <p>I was one of the speakers at Shopify UX Summit, a conference for designers who work at Shopify. Here’s a text adaptation of the talk I gave.</p>
    <ul class="actions">
      <li><a href="https://speakerdeck.com/vernalkick/antifragile-design"><img src="/assets/view-slides-icon.svg" alt=""><span>View slides</span></a></li>
      <li><a href="https://twitter.com/intent/tweet?text=Check%20out%20the%20Antifragile%20Design%20talk%20by%20@vernalkick"><img src="/assets/twitter.svg" alt="">Tweet about it</a></li>
    </ul>
  </div>
</div>
<div class="section">
  <div class="section-header">
    <div class="wrap">
      <h1 class="section-header__title">Introduction</h1>
      <svg width="95" height="9" xmlns="http://www.w3.org/2000/svg" class="wiggle"><path d="M1.328 7.842c2.317-1.65 4.634-6.594 9.267-6.594 4.634 0 4.634 6.594 9.267 6.594 4.634 0 4.634-6.594 9.268-6.594 4.633 0 4.633 6.594 9.267 6.594 4.633 0 4.633-6.594 9.267-6.594 4.634 0 4.634 6.594 9.267 6.594 4.635 0 4.635-6.594 9.268-6.594 4.634 0 4.634 6.594 9.268 6.594 4.633 0 4.633-6.594 9.267-6.594 4.633 0 6.95 4.945 9.267 6.594" stroke-width="2" stroke="#000" opacity="0.1" fill="none" /></svg>
    </div>
  </div>

  <div class="section-content">
    <div class="wrap">
      <p>In his book “<a href="#">Antifragile: Things That Gain From Disorder</a>”, Nassim Taleb introduces the concept of Antifragility, which is the opposite of fragility. In his book, he explains that there isn't a good word for the opposite of fragile.</p>
      <div class="definition">
        <span class="definition__word">frag·ile</span>
        <span class="definition__pronounciation">ˈfrajel,ˈfraˌjīl</span>
        <p class="definition__text"><span class="uppercase">adjective</span> (of an object) easily broken or damaged.</p>
        <ul>
          <li>flimsy or insubstantial; easily destroyed.</li>
          <li>(of a person) not strong or sturdy; delicate and vulnerable.</li>
        </ul>
      </div>
      <p>When you think of the opposite of fragile, you usually think of "robust" or "resilient," but they're not super accurate. Something that is fragile is easily broken or damaged after a shock, but the antifragile gets stronger after every impact.</p>
      <svg width="95" height="9" xmlns="http://www.w3.org/2000/svg" class="wiggle"><path d="M1.328 7.842c2.317-1.65 4.634-6.594 9.267-6.594 4.634 0 4.634 6.594 9.267 6.594 4.634 0 4.634-6.594 9.268-6.594 4.633 0 4.633 6.594 9.267 6.594 4.633 0 4.633-6.594 9.267-6.594 4.634 0 4.634 6.594 9.267 6.594 4.635 0 4.635-6.594 9.268-6.594 4.634 0 4.634 6.594 9.268 6.594 4.633 0 4.633-6.594 9.267-6.594 4.633 0 6.95 4.945 9.267 6.594" stroke-width="2" fill="none" /></svg>
      <p>I've always thought that was an interesting concept, so it stuck with me. Looking back on two years worth of work, I realized just how much these principles impacted the way I design.</p>
    </div>
  </div>
</div>
<div class="section section--alt">
  <div class="wrap">
    <div class="book-info">
      <img class="book-info__img" src="/assets/antifragile-book-cover.png" alt="">
      <div class="book-info__desc">
        <h4>Antifragile: Things That Gain From Disorder</h4>
        <p>This is the book that inspired my talk. It’s thought-provoking and provides great insight into how we can incorporate uncertainty, randomness and error into our life. Or, in our case: our design process.</p>
        <a href="http://www.amazon.ca/Antifragile-Things-That-Gain-Disorder/dp/0812979680">Buy on Amazon</a>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="section-header">
    <div class="wrap">
      <h2 class="section-header__subtitle">Principle 1</h2>
      <h1 class="section-header__title">Constraints<br>help you focus</h1>
      <span class="section-header__step-number">1</span>
      <svg width="95" height="9" xmlns="http://www.w3.org/2000/svg" class="wiggle"><path d="M1.328 7.842c2.317-1.65 4.634-6.594 9.267-6.594 4.634 0 4.634 6.594 9.267 6.594 4.634 0 4.634-6.594 9.268-6.594 4.633 0 4.633 6.594 9.267 6.594 4.633 0 4.633-6.594 9.267-6.594 4.634 0 4.634 6.594 9.267 6.594 4.635 0 4.635-6.594 9.268-6.594 4.634 0 4.634 6.594 9.268 6.594 4.633 0 4.633-6.594 9.267-6.594 4.633 0 6.95 4.945 9.267 6.594" stroke-width="2" stroke="#000" opacity="0.1" fill="none" /></svg>
    </div>
  </div>

  <div class="section-content">
    <div class="wrap">
      <h3>There's an infinity of potential solutions</h3>
      <p>Whenever we're trying to solve a problem, there are so many different potential solutions that it's really hard to know where to even start. It's a paradox of choice. Too many options paralyze your ability to move forward. Constraints allow you to eliminate a lot of potential solutions and leave you with a clear path to follow.</p>
      <blockquote>
        <p>Instead of freaking out about these constraints, embrace them. Let them guide you. Constraints drive innovation and force focus. Instead of trying to remove them, use them to your advantage.</p>
        <p>&mdash; Getting Real, 37signals</p>
      </blockquote>

      <h3>Constraints give our problems shape</h3>
      <p>Contraints can also help us define the shape of a problem. This is extremely important, because it doesn't matter how well you execute on a solution, if you're solving the wrong problem.</p>

      <h3>Twitter</h3>
      <p>Twitter is a great example of just how much new constraints can produce interesting results. Twitter is famous for its hashtag, but also for its 140 character limit. That limit comes from the early days of Twitter when it was mostly a text message service. Since there were no apps, you would post a new tweet by sending a text message to a Twitter number and Twitter would then send a text message to all your followers. It was really great for the time. But since the character limit for text messages was 160 and they needed to save some space for the username, they settled for 140 characters.</p>

      <figure>
        <img src="http://cl.ly/image/3p2b3y0z2x14/1" alt="">
      </figure>

      <p>Looking back, this was such a defining moment for the service. Limiting each tweet to be super short really set the service apart. It relieved the pressure of feeling like you had to write longer form content. It forced people to distill their thoughts to their shortest form and made it easier for people to communicate. And it all stemmed from that constraint that they had years ago. Constraints force you to re-evaluate how things have always been done and can sometimes produce amazing results.</p>

      <h3>It's constraints all the way down</h3>
      <p>A funny anecdote is that the SMS character limit itself comes from postcards. In 1985, Friedhelm Hillebrand was the chairmain of the voice service comittee and was in charge of deciding the standard for the limit of characters a text message could contain. The way he arrived at 160 was by writing random messages on postcards and he noticed that most of them could hold roughly 160 characters. He figured if it was enough for postcards, it would certainly be enough for text messages.</p>
      <p>It's interesting to see how constraints can be passed on from generations and generations, from postcards to tweets and help us as designers to focus our attention on what's important.</p>

      <h3>&ldquo;But contstaints limit my creativity&rdquo;</h3>
      <p>That's an argument that a lot of designers make when faced by too many constraints. While it's a valid question to ask, I think constraints force you to take a more creative approach to solve problems in a new way.</p>

      <figure>
        <img src="http://cl.ly/image/41471M0N2A2v/1" alt="">
      </figure>

      <p>Let's take songs for example. I don't think anyone would argue that music is an incredibly creative medium. They have a huge impact on how we feel when listening to them, they remind us fondly of specific moments of our life and they all sound very different from each other.</p>
      <p>Songs actually have a huge number of constraints:</p>
      <ul>
        <li>Has to rhyme (for the most part)</li>
        <li>Has to be roughly 2-3 mins in length</li>
        <li>Has to have a very specific structure (verses, chorus, etc.)</li>
      </ul>
      <p>Despite all of these, they still manage to be extremely creative. I think the same applies to product design. Constraints let you frame a problem, narrow down all the possible solutions and let you find a creative way to produce something that works within these parameters.</p>
    </div>
  </div>
</div>

<div class="section">
  <div class="section-header">
    <div class="wrap">
      <h2 class="section-header__subtitle">Principle 2</h2>
      <h1 class="section-header__title">Design<br>in the open</h1>
      <span class="section-header__step-number">2</span>
      <svg width="95" height="9" xmlns="http://www.w3.org/2000/svg" class="wiggle"><path d="M1.328 7.842c2.317-1.65 4.634-6.594 9.267-6.594 4.634 0 4.634 6.594 9.267 6.594 4.634 0 4.634-6.594 9.268-6.594 4.633 0 4.633 6.594 9.267 6.594 4.633 0 4.633-6.594 9.267-6.594 4.634 0 4.634 6.594 9.267 6.594 4.635 0 4.635-6.594 9.268-6.594 4.634 0 4.634 6.594 9.268 6.594 4.633 0 4.633-6.594 9.267-6.594 4.633 0 6.95 4.945 9.267 6.594" stroke-width="2" stroke="#000" opacity="0.1" fill="none" /></svg>
    </div>
  </div>

  <div class="section-content">
    <div class="wrap">
      <h3>Involve your whole team in the process</h3>
      <p>A big misconception about Apple is that the reason they have products that have a great design is that they have the best designers in the world. That's not true. Designers at Apple are just like me and you, the difference is that the whole company is set up to encourage great design to flourish. Here's Mark Kawano, ex Apple designer on the subject:</p>
      <blockquote>
        <p>It's actually the engineering culture, and the way the organization is structured to appreciate and support design. Everybody there is thinking about UX and design, not just the designers. And that's what makes everything about the product so much better, much more than any individual designer or design team.</p>
        <p>&mdash; Mark Kawano</p>
      </blockquote>
      <p>We've done a few things on the checkout team to increase collaboration and foster discussions during the design process.</p>

      <h3>Dedicated Slack channels</h3>
      <p>First of all, we set up a dedicated <code>#checkout-design</code> channel on Slack where everybody was welcome to post about any ideas, questions or suggestions about anything design related. I would post super early sketches, ideas and mockups and we would discuss them as a group. How you react to people's feedback is very important. Developers aren't used to giving design feedback, so it might come across as very direct at times. Take it with a grain of salt. You really want to make people feel comfortable so they don't feel like they need to preface any comment with &ldquo;I'm not a designer, but...&rdquo;</p>

      <h3>The Wall of Fame</h3>
      <p>We also dedicated a wall in our office to "work in progress" mockups. The Slack channel is great for discussions and back and forth, but things get buried very quickly. Taking the work outside of the context of the screen also often reveals different issues. It's sort of the equivalent of painters stepping back from their canvas to see the bigger picture.</p>
      <blockquote>
        <p>Every now and then go away, have a little relaxation, for when you come back to your work your judgment will be surer. Go some distance away because then the work appears smaller and more of it can be taken in at a glance, and a lack of harmony and proportion is more readily seen.</p>
        <p>&mdash; Leonardo daVinci, <a href="https://books.google.ca/books?id=aWrENosMR8QC&pg=PT110&lpg=PT110&dq=painter+stepping+back+from+canvas&source=bl&ots=XISfsWd8ur&sig=3QuIVnTVAhrXns4q5Si_Wt7-2Ko&hl=en&sa=X&ei=zZ-iVZ7OBsnFggSjjZXABg&ved=0CB4Q6AEwAA#v=onepage&q=painter%20stepping%20back%20from%20canvas&f=false">Becoming a Life Changing Artist</a></p>
      </blockquote>

      <p>Another benefit of the wall is that whether you notice it or not, it gives people a lot of time with the design. Every day, 20-30 people pass in front of that wall and see the work. Having long term feedback as well as immediate feedback is incredibly useful when you want your work to have a lasting value. It also helps aversion to change that a lot of people have.</p>

      <blockquote>
        <p>The wall is an equalizer. It doesn’t matter how long you spent or how hard you tried. What’s on the wall is all there is. </p>
        <p>&mdash; Frank Chimero, <a href="http://frankchimero.com/writing/the-wall/">The Wall</a></p>
      </blockquote>

      <h3>It's uncomfortable... at first</h3>
      <p>An overwhelming majority of designers are perfectionists. There is no way a human can spend hours and hours obsessing over every single details without being on a quest for perfection. Your taste is and incredibly harsh critic and it can be really hard to let go sometimes. No one wants to show a piece of work and have it be slammed down and shattered to pieces in instant.</p>
      <p>So what do you do? You want to hold off until you get everything right. But it's never right. And you're never done. So you never show it. The best way to get over that cycle is to share early and share often. Drop the ego. Designing something takes a long time, no one expects you to dream up the perfect solution with an amazing execution in 5 minutes.</p>
      <p>Slowly, if you're like me, you'll be addicted to sharing crazy ideas with other people. Like a snowball rolling down the hill, ideas become bigger and stronger the more people give you feedback and improve upon it.</p>

      <figure>
        <img src="http://cl.ly/image/3m2p1Y1t360y/1" alt="">
        <figcaption><a href="https://twitter.com/austinkleon">Austin Kleon</a> has written <a href="http://austinkleon.com/show-your-work/">a whole book about this</a>. Seriously, sharing is important.</figcaption>
      </figure>

      <h3>Share what you know</h3>
      <p>Explain your ideas, tell people about your thought process and how you got from point A to B to C to end up with solution D. It's not magic, just hard work and a lot of care.</p>
    </div>
  </div>
</div>

<div class="section">
  <div class="section-header">
    <div class="wrap">
      <h2 class="section-header__subtitle">Principle 3</h2>
      <h1 class="section-header__title">Embrace<br>chaos</h1>
      <span class="section-header__step-number">3</span>
      <svg width="95" height="9" xmlns="http://www.w3.org/2000/svg" class="wiggle"><path d="M1.328 7.842c2.317-1.65 4.634-6.594 9.267-6.594 4.634 0 4.634 6.594 9.267 6.594 4.634 0 4.634-6.594 9.268-6.594 4.633 0 4.633 6.594 9.267 6.594 4.633 0 4.633-6.594 9.267-6.594 4.634 0 4.634 6.594 9.267 6.594 4.635 0 4.635-6.594 9.268-6.594 4.634 0 4.634 6.594 9.268 6.594 4.633 0 4.633-6.594 9.267-6.594 4.633 0 6.95 4.945 9.267 6.594" stroke-width="2" stroke="#000" opacity="0.1" fill="none" /></svg>
    </div>
  </div>

  <div class="section-content">
    <div class="wrap">
      <h3>你好世界</h3>
      <p>Your users are all wildly different from each other, and more importantly, different from you. That means you can't really make assumptions about how users will use your product or how they will percieve your design.</p>

      <p>An example that I'm sure a lot of Canadians have had problems with is the date format.</p>

      <figure>
        <img src="/assets/date-format.svg" alt="">
      </figure>

      <p>Canada and the United States use a slightly different way of preseting the date in this numerical format. The US opting for the same order you'd write it down in letters, whereas Canadians go from most specific information to the least specific.</p>
      <p>What that means is in the beginning of the year it becomes pretty hard to figure out if you're referring to January 2nd or February 1st. In that case, using a more descriptive date format makes sure to remove any ambiguity.</p>

      <h3>Design is a conversation</h3>
      <p>It's also important to remember that design is a conversation. There is no right or wrong answer, most things are subjective. But just like discussions where everybody agrees are boring, teams where everybody agrees all the time lead to sub-optimal results.</p>

      <blockquote>
        <p>Whenever you find yourself on the side of the majority, it’s time to pause and reflect.</p>
        <p>&mdash; Mark Twain</p>
      </blockquote>

      <p>There are always two sides to a coin and it's extremely important to explore the idea from every angle. This is one of the many reasons why diversity is so important. People with different backgrounds and point of views will inevitably make your design stronger.</p>
      <p>You can also play with the format of your meetings to increase the volume of contrarian ideas. We came up with this "Dedicated Devil's Advocate" button to use in our design and product meetings. A different person has to wear it at each meeting and their goal is to always find the alternate way of seeing something. Go against the majority and surface different ideas.</p>

      <h3>Don't avoid complexity, manage it</h3>
      <p>We tend to strive for simple and minimalist interfaces. We make the mistake of thinking ideas start simple and evolve to become more complex over time, but in reality everything in complicated. You can chose to avoid that complexity or you can choose to manage it. Don't believe me? Here's what the simplest interface in the world looks like:</p>

      <figure>
        <img src="http://cl.ly/image/1D1C0u1Q0D2J/1" alt="">
      </figure>

      <p>One window, a blinking cursor. It doesn't get any simpler than that. Yet, the terminal has an incredibly steep learning curve. Ignoring the complexity inherent to the problem you're solving only <a href="http://blog.learningbyshipping.com/2015/03/16/frictionless-design-choices/">increases friction</a>. You're offloading the task of making hard decisions on to the user.</p>

      <blockquote>
        <p>When you start looking at a problem and it seems really simple, you don’t really understand the complexity of the problem. Then you get into the problem, and you see that it’s really complicated, and you come up with all these convoluted solutions. That’s sort of the middle, and that’s where most people stop… But the really great person will keep on going and find the key, the underlying principle of the problem — and come up with an elegant, really beautiful solution that works.</p>
        <p>— Steve Jobs</p>
      </blockquote>

      <h3>How to deal with complexity</h3>
      <p>I like to start by generating a lot of ideas. Write down every single possibility, need and idea. Make a mess. Fill an entire room of post-it notes if that's what it takes. Once you have everything in front of you, the actual design process starts. The design process is really similar to the editing process. You'll see patterns emerge, give them some structure. You'll see what is important and what isn't. Be opinionated in the decisions you make. At this moment, you should be focused on doing a small number of things, but doing them well.</p>

      <h3>You're going to be wrong a lot</h3>
      <p>And it's okay. The goal isn't to be right. The goal is to design the best product in the world. No one is going to remember who got the most ideas in the final product, but you have the chance to improve the life of a lot of people if you recognize when you're wrong and you change your mind often when presented with new facts.</p>
    </div>
  </div>
</div>

<div class="section">
  <div class="section-header section-header--conclusion">
    <div class="wrap">
      <h2 class="section-header__subtitle">Conclusion</h2>
      <h1 class="section-header__title">Don’t be fragile<br>Be antifragile</h1>
      <svg width="95" height="9" xmlns="http://www.w3.org/2000/svg" class="wiggle"><path d="M1.328 7.842c2.317-1.65 4.634-6.594 9.267-6.594 4.634 0 4.634 6.594 9.267 6.594 4.634 0 4.634-6.594 9.268-6.594 4.633 0 4.633 6.594 9.267 6.594 4.633 0 4.633-6.594 9.267-6.594 4.634 0 4.634 6.594 9.267 6.594 4.635 0 4.635-6.594 9.268-6.594 4.634 0 4.634 6.594 9.268 6.594 4.633 0 4.633-6.594 9.267-6.594 4.633 0 6.95 4.945 9.267 6.594" stroke-width="2" stroke="#000" opacity="0.1" fill="none" /></svg>
    </div>
  </div>
  <div class="section-content section-content--conclusion">
    <div class="wrap">
      <p>At it's core, being antifragile is being able to take anything that comes your way and use it to grow. It's an incredible time to be a product designer. We get the chance to reshape whole industries, but with great powers comes great responsibility. We're solving harder and harder problems for an increasing number of people. But we can do better.</p>

      <p>Try new things, shake up your process, introduce randomness and don't make any assumptions. Be Antifragile.</p>
      <h3>Thank You</h3>
      <p>Huge thanks to Markus Dressler and Cynthia Savard Saucier for their incredibly sharp feedback and consistent encouragements to keep going.</p>
      <h3>Further reading</h3>
      <ul>
        <li><a href="http://design.activeside.net/why-designers-should-seek-complexity">Why designers should seek chaos and complexity first</a></li>
        <li><a href="http://blog.learningbyshipping.com/2015/03/16/frictionless-design-choices/">Frictionless Design Choices</a></li>
        <li><a href="http://austinkleon.com/show-your-work/">Show Your Work, Austin Kleon</a></li>
        <li><a href="https://gettingreal.37signals.com/ch04_Make_Opinionated_Software.php">Make Opinionated Software, 37signals</a></li>
        <li><a href="http://www.vanseodesign.com/web-design/opinionated-design-make-decisions-leave-fewer-options/">Opinionated Design — Make More Decisions And Leave Fewer Options</a></li>
      </ul>
      <!--
      <ul>
        <li><a href="https://www.flickr.com/photos/92622665@N08/12568437524/in/photolist-k9CwAG-ccDMyY-5kGZVc-HuDEG-hBXwSj-egpq56-5G6Zrh-m3LyBD-oep2yV-94kY59-hyzKkN-cf7a1-kQ1Jwg-HuJsD-HuHia-7K1SHv-5QNGxu-4LFHSS-3f8Xns-nJaGVj-bzR3CQ-8211PB-5Bdmx8-oZRo66-dbxYXv-dwdTZo-4QbfAr-k9ATJX-e6L8G7-83G3jj-hBXnBK-9cghXV-8vGnwi-6YV4pU-5tk7mJ-cLhMuY-5wVydG-cLhNZs-cLhNMu-dq9emN-dq95Ut-dhQtw2-4SgiKF-6vsDwC-5SoovU-4HV3uP-ao7nPg-aocscK-ao9VeQ-nFcq6">Car stuck in mud</a></li>
      </ul>
      -->
    </div>
  </div>
</div>
<div class="section section--about-me">
  <div class="wrap">
    <div class="about-me">
      <h4>About me</h4>
      <p>I’m a Product Designer at Shopify, I run the Montreal Dribbble meetups and I make apps in my spare time. I live and work in the beautiful city of Montreal in Canada.</p>
      <ul class="actions">
        <li><a href="http://twitter.com/vernalkick"><img src="/assets/twitter.svg" alt=""> Follow @vernalkick</a></li>
        <li><a href="mailto:kevin@kevinclark.ca">View my website</a></li>
      </ul>
    </div>
  </div>
</div>
