<html>
  <head>
    <title>Antifragile Design</title>
    <link href="/assets/master.css" rel="stylesheet">
  </head>
  <body>
    <div class="page">
      <header class="header">
        <div class="header__inner">
          <img src="/assets/antifragile-logo.svg" alt="">
        </div>
      </header>
      <main class="main">
        <%= yield %>
      </main>
    </div>
  </body>
</html>
