<html>
  <head>
    <meta charset="utf-8">
    <title>Antifragile Design</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/assets/master.css" rel="stylesheet">
  </head>
  <body>
    <div class="page">
      <header class="header">
        <div class="header__inner">
          <img src="/assets/antifragile-logo.svg" alt="">
        </div>
      </header>
      <main class="main">
        <%= yield %>
      </main>
    </div>
  </body>
</html>
