// =============================================================================
// HEADER
// =============================================================================

.header {
  // background: $color--grey-dark;
  background: #555;
  // padding: 2em 0;
}

.header__inner {
  background: url('/assets/springs.svg') center center no-repeat;
  padding: 2em 0;

  @include media(mobile) {
    background-size: 150%;
  }

  @include media(tablet) {
    background-position: -400px center;
  }

  @include media(desktop) {
    position: fixed;
    top: 0;
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.header__inner img {
  margin: 0 auto;
  display: block;
  max-width: 250px;

  @include media(tablet) {
    margin: 0 3em;
  }

  @include media(desktop) {
    max-width: 350px;
  }
}
