.section-content {
  padding: 3em 0;
}

.section-content--conclusion {
  background: #333;

  p, li {
    color: #fff;
  }
}

.section--alt {
  background: #eee;
}

.section--intro {
  background: linear-gradient(0deg, rgba(#222, .75) 20%, rgba(#000, 0) 60%), #333 url('/assets/cocoaheads.jpg') center center;
  background-size: cover;
  overflow: hidden;
  color: rgba(#fff, .75);
  padding: 35% 0 2em;

  p {
    margin: 0;
  }
}

.section--about-me {
  background: #333 url('/assets/about-me.png') center center;
  background-size: cover;
  color: rgba(#fff, .75);
}

.about-me {
  overflow: hidden;
  padding: 20% 0;
  padding-right: 25%;
}

.book-info {
  padding: 3em 0;

  @include media(tablet-up) {
    display: flex;
    align-items: center;
  }
}

.book-info__img {
  width: 170px;
  flex-shrink: 0;
  margin-right: 1.5em;
  box-shadow: 0 2px 4px rgba(#000, .15);

  @include media(mobile) {
    margin-bottom: 1.5em;
  }
}

.actions {
  list-style-type: none;
  padding: 0;

  li {
    float: left;
    margin-right: 1.5em;
    color: #fff;
  }

  a {
    text-decoration: none;
    display: flex;
    align-items: center;
  }

  img {
    margin-right: .35em;
  }
}

.definition {
  border-top: 1px dashed rgba(#000, .15);
  border-bottom: 1px dashed rgba(#000, .15);
  padding: 1.5em 0;
  color: rgba(#000, .5);
  margin-top: 2em;
}

.definition__title {
  display: block;
  margin-bottom: .5em;
  color: rgba(#000, .5);
  font-size: .75em;
}

.definition__word {
  font-size: 1.5em;
  font-weight: 600;
  display: block;
}

.definition__pronounciation {
  font-style: italic;
}

.definition__text {
  display: block;
  margin-top: .5em;
}

.section-content .wiggle {
  stroke: $color--accent;
  margin: 2em auto;
}
